<<<<<<< Updated upstream
<section class="section">
  <article class="media">
    <div class="media-content">
      <div class="content has-text-centered">
        <p>
          <strong class="is-size-1" style="font-family: arial;">Tripnote</strong>
        </p>
      </div>
      <div class="columns is-centered">
        <div class="column is-5">
          <br>
          <%= link_to "投稿を見てみる", article_path, class: "button is-warning is-light is-fullwidth" %>
          <br>
        </div>
      </div>

    </div>
  </article>
  <br>
  <div class="columns is-centered">
    <div class="column">
      <figure>
        <div class="main-image"></div>
      </figure>
    </div>

        <div class="article-text">
      <%= article.instruction %>
    </div>

    <div class="column is-6">
       <figure class="image is-5by4">
           <%= image_tag article.image, class: "article-image"%>
       </figure>

    </div>
  </div>
</section>